footer{
    width: 100%;
    background-color: var(--color-grey-100);
    padding-top: 2.31rem;
    padding-bottom: 2.11rem;
    margin-top: 4rem;
}
#footer-container{
    width: 72%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#footer-info{
    width:100%;
    display: flex;
    flex-direction: row;
    column-gap: 4.5rem;
}
footer p{
    
    width: 50%;
    color: var(--color-grey-300);
    
}
footer #logo-container{
    display: flex;
    align-items: center;
}
footer #logo-container img{
    width: 29px;
}
footer #logo-container h3{
    color: white;
}